* {
    margin: 0;
    padding: 0;

}

.navbar-brand {   
    font-size: x-large;
    background-color: rgba(90, 46, 46, 0.900);
    margin: 25px;
    padding: 10px;
}

#collapsibleNavbar {
    padding: 20px;
    margin: 25px;
}

.jumbotron {
    background-color: rgba(223, 186, 105, 0.900);
}

.container {
    background-color: rgba(255, 223, 223, 0.2);
}

.btn {
    background-color: rgba(90, 46, 46, 0.900);
    margin: 10px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
  }

  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }

  footer{
    height: 120px;
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: rgb(0, 123, 255);
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    border-top: #fff;
    border-style:solid;
    border-color: rgba(9, 8, 8, 0.3);
}

i:hover {
    color:rgb(22, 23, 24);
    text-decoration: underline;
    transition: 1.2s ;
    zoom: 110%;
}
