* {
    margin: 0;
    padding: 0;
}

.navbar-brand {   
    font-size: x-large;
    background-color: rgb(255, 127, 80);
    margin: 25px;
    padding: 10px;
    
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

