* {
    margin: 0;
    padding: 0;
}

.navbar-brand {   
    margin-left: 30px;
    padding: 30px;
}

.nav-item:hover {
    color:rgb(22, 23, 24);
    text-decoration: underline;
    /* transition: 5s; */
    zoom: 110%;
}

#collapsibleNavbar {
    padding: 20px;
    margin: 25px;
}

.jumbotron {
    background-color: rgba(223, 186, 105, 0.900);
    border-style: solid;
    border-width: 1px;
}

.container {
    background-color: rgba(255, 223, 223, 0.2);
}

.btn {
    background-color: rgba(90, 46, 46, 0.700);
    margin: 10px;
    color: #fff;
}

.row {
    border-style: solid;
    border-width: 1px;
}

.btn:hover {
    color:rgb(22, 23, 24);
    text-decoration: underline;
    transition: 2.5s ;
    zoom: 110%;
}

.carousel-inner img {
    width: 100%;
    height: auto;
  }

  .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
  }

  .carousel-control-next-icon {
    height: 30px;
    width: 30px;
  }

  footer{
    height: 120px;
    width: 100%;
    padding: 30px;
    margin: auto;
    background-color: rgb(62, 65, 71);
    color: #fff;
    letter-spacing: 2px;
    text-align: center;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    border-style:solid;
    border-color: rgba(9, 8, 8, 0.3);
    position: absolute;
}

i:hover {
    color:rgb(22, 23, 24);
    text-decoration: underline;
    transition: 1.5s ;
    zoom: 120%;
}

.fa-brands {
    font-size: x-large;
    color:rgb(204, 206, 207);
}

